{{#if authenticated}}
 	<div class="dropdown">
		<img class="navbar-right personal_avatar" src="{{image}}" />
	<ul class="dropdown-menu" role="menu">
	    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Preferences</a></li>
	    <li role="presentation" class="divider"></li>
	    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Log out</a></li>
	  </ul>
	</div>

{{else}}
	<button type="button" class="navbar-right btn btn-default navbar-btn sign-in">Sign in</button>
{{/if}}

