{{#if authenticated}}
  <img class="navbar-right personal_avatar" src="{{image}}" />
{{else}}
  <button type="button" class="navbar-right btn btn-default navbar-btn sign-in">Sign in</button>
{{/if}}

