            <h2>Announcements</h2>

            <a href="http://en-news.unmonastery.org/the-opening-ceremony-15th-march/" target="_blank"><h3>The Opening Ceremony - 15th March</h3></a>
              <p>The 15th of March marks the official opening of the unMonastery. We invite you to present your ideas and projects and participate in the day’s festivities including: Hoisting the Flag 10:30 The Opening Ceremony will begin with hoisting an unMonastery community flag stitched together from donated fabrics. If…
              <a href="http://it-news.unmonastery.org/unmon-cerimonia/" target="_blank">Read More</a>
              </p>
            <hr>
            <a href="http://en-news.unmonastery.org/last-days-of-chefare-support-unmonastery/"><h3>Last Days of CheFare - Support unMonastery</h3></a>
              <p>Thanks to the hardy work of Ilaria, EdgeRyders and MT2019, earlier this year, we were surprised to find ourselves in the running for the CheFare award, which offers 100k to grassroots, P2P projects such as the unMonastery. It’s perhaps a frustrating element but it involves a voting system to…
              </p>
            <hr>
            <h3>unMonastery.org Launch - V1.0</h3>
              <p>Today is an important day for us and if you’re reading this you’ll understand why! We’ve launched V1.0 of our beautifully bilingual website. www.unMonastery.org In this iteration of the website we’ve focused our energy on creating a platform for communicating with the citizenry…
              </p>
            <hr>