	<div class="jumbotron">
		<img class="img-thumbnail" src="{{avatar}}">
			<h1>{{name}}</h1>
			<p>Who ru?</p>
	</div>

    <div class="row">
        <div class="col-md-4">
          <h2>Challenges</h2>
          <p>Fill me in with the challenges you're tackling. Plz.<p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!--/span-->
        <div class="col-md-4">
          <h2>Projects</h2>
          <p>Wut ru rly doing here? Links to all the projects to which you'll be contributing.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!--/span-->
        <div class="col-md-4">
          <h2>Peers</h2>
          <p>Because we can't do it alone. Links plz.</p>
        </div><!--/span-->
    </div><!--/row-->