<div typeof="{{type}}">
  <img class="img-thumbnail" property="image" src="{{image}}">
  <span class="inline-header" property="name">{{name}}</span>
  <div property="description">{{{description}}}</div>
</div>
