<div typeof="{{type}}">
  <img class="img-thumbnail" property="avatar" src="{{avatar}}">
  <span class="inline-header" property="name">{{name}}</span>
  <p property="description">{{description}}</p>
</div>
