        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">

        <form role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
          </div>
        </form>



          <div class="list-group">
            <a href="#" class="list-group-item active">[Name]</a>
            <a href="#" class="list-group-item">[Name]</a>
            <a href="#" class="list-group-item">[Name]</a>
            <a href="#" class="list-group-item">[Name]</a>
            <a href="#" class="list-group-item">[Name]</a>
            <a href="#" class="list-group-item">[Name]</a>
            <a href="#" class="list-group-item">[Name]</a>
            <a href="#" class="list-group-item">[Name]</a>
            <a href="#" class="list-group-item">[Name]</a>
            <a href="#" class="list-group-item">[Name]</a>
            <a href="#" class="list-group-item">[Name]</a>
          </div>
        </div><!--/span-->
      </div><!--/row-->