          <div class="slide-container">
            <div id="slides">
              <div class="slide">
                <img src="assets/images/carousel/OC_banner.png">
                <div class="caption"><p>unMonastery officially opens its doors on Saturday, 15 March with a day of festivities and presentations of local community projects. Want to participate? <a href="#">Learn more.</a></p></div>
              </div>
              <div class="slide">
                <img src="assets/images/carousel/people.jpg">
                <div class="caption"><p>The first unMonasterians have settled in and even more have yet to arrive! <a href="#">Read more</a> about our unique community.</a> </p></div>
              </div>
              <div class="slide">
                <img src="assets/images/carousel/visiting.jpg">
                <div class="caption"><p>Members of the Rigeneriamo initiative talk about their work at the unMonastery. Interested in stopping by the unMonastery? Check out our <a href="#">visit page</a>.</p></div>
              </div>
              <div class="slide">
                <img src="assets/images/carousel/opentechschool.jpg">
                <div class="caption"><p>Open Tech School, Matera is growing! Visit the <a href="#">project page</a> for more information on workshops on topics like coding, animation, video production, and web design.</a></p></div>
              </div>
                <a href="#" class="slidesjs-previous slidesjs-navigation icon-left-open"></a>
                <a href="#" class="slidesjs-next slidesjs-navigation icon-right-open"></a>
            </div>
          </div>