@font-face {
    font-family: 'Monda';
    src: url('../vendor/fonts/Monda-Regular.eot'); /* IE9 Compat Modes */
    src: url('../vendor/fonts/Monda-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../vendor/fonts/Monda-Regular.woff') format('woff'), /* Modern Browsers */
         url('../vendor/fonts/Monda-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../vendor/fonts/Monda-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'Museo Sans Thin';
    src: url('../vendor/fonts/museosans-100-webfont.eot');
    src: url('../vendor/fonts/museosans-100-webfont.eot?#iefix') format('embedded-opentype'),
         url('../vendor/fonts/museosans-100-webfont.woff') format('woff'),
         url('../vendor/fonts/museosans-100-webfont.ttf') format('truetype'),
         url('../vendor/fonts/museosans-100-webfont.svg#museo_sans300') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Sans';
    src: url('../vendor/fonts/museosans-300-webfont.eot');
    src: url('../vendor/fonts/museosans-300-webfont.eot?#iefix') format('embedded-opentype'),
         url('../vendor/fonts/museosans-300-webfont.woff') format('woff'),
         url('../vendor/fonts/museosans-300-webfont.ttf') format('truetype'),
         url('../vendor/fonts/museosans-300-webfont.svg#museo_sans300') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Sans Italic';
    src: url('../vendor/fonts/museosans-300italic-webfont.eot');
    src: url('../vendor/fonts/museosans-300italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../vendor/fonts/museosans-300italic-webfont.woff') format('woff'),
         url('../vendor/fonts/museosans-300italic-webfont.ttf') format('truetype'),
         url('../vendor/fonts/museosans-300italic-webfont.svg#museo_sans300_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Museo Sans Bold';
    src: url('../vendor/fonts/museosans-700-webfont.eot');
    src: url('../vendor/fonts/museosans-700-webfont.eot?#iefix') format('embedded-opentype'),
         url('../vendor/fonts/museosans-700-webfont.woff') format('woff'),
         url('../vendor/fonts/museosans-700-webfont.ttf') format('truetype'),
         url('../vendor/fonts/museosans-700-webfont.svg#museo_sans700') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Museo Sans Bold Italic';
    src: url('../vendor/fonts/museosans-700italic-webfont.eot');
    src: url('../vendor/fonts/museosans-700italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../vendor/fonts/museosans-700italic-webfont.woff') format('woff'),
         url('../vendor/fonts/museosans-700italic-webfont.ttf') format('truetype'),
         url('../vendor/fonts/museosans-700italic-webfont.svg#museo_sans700_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

html {
  letter-spacing: .05em;
}

/* Add margin to index grid and avatars */

.index-grid {
  margin-bottom: 15px;
  padding-right: 15px;
  white-space: nowrap;
}

.index-grid img {
  margin-right:10px;
  height:80px;
  width:80px;
}

hr {
  margin-bottom: 0px; // 20
}

/* Adjusting jumbtron padding */

.jumbotron {
  padding: 40px;
  margin-bottom: 10px;
  color: inherit;
  background-color: #eee;
}

/* Jumbotron h1 smaller */

.jumbotron h1 {
  display: inline;
  font-size: 3em;
  line-height: 80px;
}

/* Increase top & bottom margin */

.jumbotron div[property="description"] {
  margin: 15px 0px 15px 0px;
  font-size: 21px;
  font-weight: 200;
}

/* Scale images in navbar */

.navbar img {
	max-height: 150%;
	padding: 0px 0px 0px 25px;
	display:inline;
}

/* Changes to the navigation bar */

.navbar {
	background-color: #FFF;
	height:70px;
  box-shadow: 0 5px 8px rgba(0, 0, 0, .05);
}

.navbar-brand {
  font-size: 26px;
}

.navbar-brand a > hover {
  background-color: #FFF;
}

.navbar ul li ul a {
  color:#8ba870;
}

/* Format social media and language links */

.social {
  margin: 10px 15px 10px 10px;
  line-height: 50px;
}

.social a {
    text-decoration: none;
}

.language {
  margin: 10px 15px 10px 0px;
  line-height: 45px;
}

/* Logout dropdown menu */

.logout {
    margin-top:60px; /* This amount is avatar margin + img height */
}

/* Make corners square */
.dropdown-menu {
  border-radius: 0px;
  margin-top:60px; 
}

.avatar {
  width: 75px;
  margin-top:10px;
}

.personal_avatar {
  height: 70px;
}

/* Set avatar size in profile to prevent resizing */
#profile img {
  height:80px;
  width: 80px;
}

/* No hover bg on nav */

.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: transparent;
}

/* Line height change */

.navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 50px;
}

.content-container {
	padding-top:30px;
}

/* Lower button */

.sign-in {
  margin-top:15px;
}

/** CSS for static content **/

.static-pages {
  margin-top:-20px;
  padding: 0px 75px 0px 75px;
}

/* Visiting page */
.static-pages hr {
  margin: 0px 0px 10px 0px;
}

.static-pages h3 {
  margin-top: 50px;
}

/* For map image */
#visiting img {
  width:600px;
  margin: 20px 0px 0px 0px;
}
